---
layout: default
permalink: /vscode/release-notes-:title
---

{% if page.release != "final" %}
  <div class="alert alert-warning">
    Apache Daffodil VS Code Extension {{ page.title }} has not yet been released! The artifact
    and release notes below are drafts for a proposed release of Apache
    Daffodil VS Code Extension which has not yet occurred.
  </div>
{% endif %}

<div class="row">
  {% capture docx_path %}/docs/vscode/{{page.title}}/Apache-Daffodil-Extension-for-Visual-Studio-Code-{{page.title}}.docx{% endcapture %}
  {% capture html_path %}/docs/vscode/{{page.title}}/Apache-Daffodil-Extension-for-Visual-Studio-Code-{{page.title}}.html{% endcapture %}

  {% assign exists = site.static_files | where: "path", docx_path %}
  {% if exists.size != 0 %}
    <div class="col-md-3 text-right" style="float: right; z-index: 3;">
      <h3>Documentation</h3>
      <a href="{{ html_path }}">HTML</a> | <a href="{{ docx_path }}">DOCX</a>
    </div>
  {% endif %}

  <div class="col-md-12">
    <h3>Get Release</h3>
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#download">Download</a></li>
      <li><a data-toggle="tab" href="#vscodemarketplace">VS Code Marketplace</a></li>
    </ul>
    <div class="tab-content">
      <div id="download" class="tab-pane fade in active">
        {% if page.source-dist %}
          <h4>Source</h4>
          <p>
          {% include download-list.html
             apache=page.apache
             artifacts=page.source-dist
             project="daffodil/daffodil-vscode"
             release=page.release
             type="src"
             version=page.title
          %}
          </p>
        {% endif %}

        {% if page.binary-dist %}
          <h4>Binaries</h4>
          <p>
          {% include download-list.html
             apache=page.apache
             artifacts=page.binary-dist
             project="daffodil/daffodil-vscode"
             release=page.release
             type="bin"
             version=page.title
          %}
          </p>
        {% endif %}

        {% if page.apache %}
          <hr />
          <p>
            <i>
              The above release files should be verified using the PGP signatures and the
              <a href='https://downloads.apache.org/daffodil/KEYS'>project release KEYS</a>. See
              <a href='https://www.apache.org/info/verification.html'>verification instructions</a>
              for a description of using the PGP and KEYS files for
              verification. A SHA512 checksum is also provided as
              an alternative verification method.
            </i>
          </p>
        {% endif page.apache %}
      </div>
      <div id="vscodemarketplace" class="tab-pane fade">
        <p>
            This extension is available from the <a href="https://marketplace.visualstudio.com/items?itemName=ASF.apache-daffodil-vscode">VS Code Marketplace</a>.
        </p>
        <p>
            To install from within VS Code, launch VS Code Quick Open (Ctrl+P), type the following command, and press enter.
        </p>
        <div style="padding: 0px 15px 10px 15px;">
{% highlight text %}
ext install ASF.apache-daffodil-vscode
{% endhighlight %}
        </div>
      </div>
    </div>
  </div>
</div>

<h3 id="release-notes">Release Notes</h3>

{{ content }}
